*{
    padding: 0;
    margin: 0;
    background: #1A1A1C;

}

.container{
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column wrap;
}

.search-bar{
    display: flex;
    flex-flow: row wrap;
}